# Default values for tks-contract.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: tks

image:
  repository: 553186839963.dkr.ecr.ap-northeast-2.amazonaws.com/drogva:kpop
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-registry-secret  # 수정된 부분

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "tks-info"

args: 
  port: 8080
  tksInfoAddress: tks-info.tks.svc
  tksInfoPort: 9110


 
podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: LoadBalancer
  port: 9110

ingress:
  enabled: false

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
