# Default values for tks-contract.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: tks

image:
  repository: 553186839963.dkr.ecr.ap-northeast-2.amazonaws.com/drogva:drogva
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-registry-secret  # 수정된 부분

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "tks-info"

args:
  port: 8080
  tksInfoAddress: tks-info.tks.svc
  tksInfoPort: 9110

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: LoadBalancer
  port: 9110

# ingress 설정을 추가합니다.
ingress:
  # Ingress를 활성화합니다.
  enabled: true
  # Ingress 클래스 이름을 지정합니다. (선택사항)
  className: "alb"
  # Ingress의 annotations를 추가합니다.
  annotations:
    kubernetes.io/ingress.class: "alb"
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:ap-northeast-2:553186839963:certificate/8c14b185-958d-4af1-8340-4930f6d6fb1d"
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
  # Ingress에 대한 호스트 정보를 설정합니다.
  hosts:
    # 호스트를 추가합니다.
    - host: www.seunghobet.link
      paths:
        # 경로를 설정합니다.
        - path: /
          pathType: Prefix
  # TLS 설정을 추가합니다.
  tls:
    # Secret 이름을 지정합니다.
    - secretName: tls-secret

  # 백엔드 서비스 설정을 추가합니다.
  backend:
    service: jiral-tks-contract
    port:  # 백엔드 서비스 포트 설정
      number: 9110
    servicePort: 9110  # 서비스의 포트 번호

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
